//colors
$gray-color: #5E5E5E;
$black-color: #343434;
$violet-color: #A615FC;
$white-color: #FFFFFF;
//sizes
$title: 3.5625vw; //60px
$h1: 1.78125vw; //30px
$h2: 1.6vw; //26px
$h3: 1.3vw; //24px
$h4: 1vw;
$h5: 0.95vw;
$h6: 0.90vw;
$h7: 0.85vw;
$margin-container: 20vw;
$margin-container_b: 25vw;