@media (max-width: 1020px) {
    .courses_grid {
        justify-content: space-between;
        display: flex;
        flex-flow: column wrap;
        padding-top: 3vh;
        max-height: 100vh;
        overflow-x: scroll;
    }
}

@media (min-width: 1021px) {
    .courses_grid {
        padding-top: 2vh;
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        height: fit-content;
    }
}